@model ProductionCompany
@{
    ViewData["Title"] = "Create a Production";
}

<h1 class="bg-info text-white">Create a Production</h1>
<a asp-action="Index" class="btn btn-secondary">View all Productions</a>

<div asp-validation-summary="All" class="text-danger"></div>


</form>